/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #181c16;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #181c16;
  padding: 30px 0;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  background-color: #edeae6;
  padding-bottom: 2.5%;
}
@media (min-width: 500px) {
  header {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #cf0015;
    padding-bottom: 0;
  }
}
@media (min-width: 500px) {
  header .header-contents {
    display: flex;
    width: 800px;
  }
}
header .header-contents h1 {
  display: flex;
  font-size: 4rem;
  justify-content: center;
}
@media (min-width: 500px) {
  header .header-contents h1 {
    margin: 0 0 0 3%;
  }
}
header .header-contents nav {
  display: flex;
  padding-top: 2.5%;
  width: 100%;
  flex-direction: column;
}
@media (min-width: 500px) {
  header .header-contents nav {
    flex-direction: row;
  }
}
header .header-contents nav a {
  display: flex;
  justify-content: center;
  margin: 2.5% 0;
  color: #181c16;
  font-size: 1.8rem;
  transition: all 0.3s ease-in;
}
header .header-contents nav a:hover {
  color: #cf0015;
}
@media (min-width: 500px) {
  header .header-contents nav a {
    margin: 0 0 1% 9%;
    align-items: flex-end;
  }
}
.container {
  background-color: #c5a173;
}
.container .header-contents h1 {
  display: flex;
  justify-content: center;
}
.container .intro .carousel {
  display: flex;
  height: 200px;
  width: 100%;
  position: relative;
}
@media (min-width: 500px) {
  .container .intro .carousel {
    height: 350px;
  }
}
.container .intro .slides {
  height: 100%;
  width: 100%;
  position: relative;
}
.container .intro .slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 3em;
  color: white;
  line-height: 400px;
  text-align: center;
  opacity: 0;
  transition: opacity 1000ms;
}
.container .intro .slide:nth-child(1) {
  opacity: 1;
}
.container .intro .slide[data-state=active] {
  display: block;
}
.container .intro .indicators {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.container .intro .indicator {
  cursor: pointer;
}
.container .intro .banner {
  display: flex;
  height: 200px;
  width: 100%;
}
@media (min-width: 500px) {
  .container .intro .banner {
    height: 350px;
  }
}
.container .intro h2 {
  display: flex;
  padding-top: 5%;
  justify-content: center;
}
.container .intro p {
  margin: 0 5%;
}
@media (min-width: 500px) {
  .container .middle-content {
    display: flex;
    margin: 0 5%;
  }
}
.container .programs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 500px) {
  .container .programs {
    width: 33%;
  }
}
.container .programs .programs-image {
  display: flex;
  padding-top: 5%;
  justify-content: center;
}
.container .programs h3 {
  display: flex;
  padding-top: 5%;
  justify-content: center;
}
.container .programs p {
  margin: 0 5%;
}
.container .get-involved {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 500px) {
  .container .get-involved {
    width: 33%;
  }
}
.container .get-involved h3 {
  display: flex;
  padding-top: 5%;
  justify-content: center;
}
.container .get-involved p {
  margin: 0 5%;
}
@media (min-width: 500px) {
  .container .get-involved .get-involved-image {
    padding-top: 5%;
  }
}
.container .donate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 500px) {
  .container .donate {
    width: 33%;
  }
}
.container .donate h3 {
  display: flex;
  padding-top: 5%;
  justify-content: center;
}
.container .donate p {
  margin: 0 5%;
}
footer {
  background-color: #edeae6;
  display: flex;
  justify-content: center;
}
@media (min-width: 500px) {
  footer {
    border-top: 3px solid #cf0015;
  }
}
