.container {
    background-color: @brand-tan;

    .header-contents {

        h1 {
            display: flex;
          
            justify-content: center;
        }
    }

    .intro {
        .carousel {
            display: flex;
            height: 200px;
            width: 100%;
            position: relative;
           
            @media @desktop {
                height: 350px;
            }
          }
          
          .slides {
            height: 100%;
            width: 100%;
            position: relative;
          }
          
          .slide {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            font-size: 3em;
            color: white;
            line-height: 400px;
            text-align: center;
            opacity: 0;
            transition: opacity 1000ms;
          }
          
          .slide:nth-child(1) {
              opacity: 1;
          }
          
        //   .slide:nth-child(2) {
              
        //   }
          
        //   .slide:nth-child(3) {
             
        //   }
          
          .slide[data-state=active] {
            display: block;
          }
          
          .indicators {
            position: absolute;
            bottom: 20px;
            right: 20px;
          }
          
          .indicator {
              cursor: pointer;
          }

        .banner {
            display: flex;
            height: 200px;
            width: 100%;

            @media @desktop {
                height: 350px;
            }
        }

        h2 {
            display: flex;
            padding-top: 5%;
            justify-content: center;
        }

        p {
        margin: 0 5%;    
        }
    }

    .middle-content {
        @media @desktop {
            display: flex;
            margin: 0 5%;
        }
    }

    .programs {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media @desktop {
            width: 33%;
        }
    
        .programs-image {
            display: flex;
            padding-top: 5%;
            justify-content: center;
        }

        h3 {
            display: flex;
            padding-top: 5%;
            justify-content: center;
        }

        p {
            margin: 0 5%;    
            }
    }

    .get-involved {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media @desktop {
            width: 33%;
        }
    
        h3 {
            display: flex;
            padding-top: 5%;
            justify-content: center;
        }

        p {
            margin: 0 5%;    
            }
        .get-involved-image {
            @media @desktop {
                padding-top: 5%;
              }  

        }    
         
    }

    .donate {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media @desktop {
            width: 33%;
        }

        h3 {
            display: flex;
            padding-top: 5%;
            justify-content: center;
        }

        p {
            margin: 0 5%;    
            }
    }
}