.container {
    background-color: @brand-tan;

    .header-contents {

        h1 {
            display: flex;
          
            justify-content: center;
        }
    }

    .intro {
        .banner {
            display: flex;
            height: 200px;
            width: 100%;

            @media @desktop {
                height: 300px;
            }
        }

        h2 {
            display: flex;
            padding-top: 5%;
            justify-content: center;
        }

        p {
        margin: 0 5%;    
        }
    }

    .middle-content {
        @media @desktop {
            display: flex;
            margin: 0 5%;
        }
    }

    .programs {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media @desktop {
            width: 33%;
        }
    
        .programs-image {
            display: flex;
            padding-top: 5%;
            justify-content: center;
        }

        h3 {
            display: flex;
            padding-top: 5%;
            justify-content: center;
        }

        p {
            margin: 0 5%;    
            }
    }

    .get-involved {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media @desktop {
            width: 33%;
        }
    
        h3 {
            display: flex;
            padding-top: 5%;
            justify-content: center;
        }

        p {
            margin: 0 5%;    
            }
        .get-involved-image {
            @media @desktop {
                padding-top: 5%;
              }  

        }    
         
    }

    .donate {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media @desktop {
            width: 33%;
        }

        h3 {
            display: flex;
            padding-top: 5%;
            justify-content: center;
        }

        p {
            margin: 0 5%;    
            }
    }
}