.container {
    background-color: @brand-tan;
}

.header-contents {
    h1 {
        display: flex;    
        font-size: 3.8rem;
        justify-content: center;
        }
}



.intro {
    .banner {
        padding-top: 2.5%;    
        display: flex;
        height: 200px;
        width: 100%;
        }
    h2 {
        display: flex;    
        padding-top: 5%;    
        justify-content: center;
        }
}

.programs {
  
    .programs-image {
        display: flex;    
        padding-top: 5%;    
        align-items: center;
        }
    
    h3 {
        display: flex;    
        padding-top: 5%;    
        justify-content: center; 
        }
}

.get-involved {
    h3 {
        display: flex;    
        padding-top: 5%;    
        justify-content: center; 
        }
}

.donate {
    h3 {
        display: flex;    
        padding-top: 5%;    
        justify-content: center; 
        }
}

