// Navigation

nav {
    display: flex;
    padding-top: 30px;
    width: 100%;
    justify-content: center;

a {
    display: flex;
	margin: 0 5%;
    color: black;
    font-size: 1.5rem;
    &:hover {
        color: red;
        transition: (all, 0.3s, ease-in); 
    
        }
    }
}